body {
	font-family: "Roboto", sans-serif;
}
h1,
h2 {
	font-family: "Bebas Neue", cursive;
}

/* Common Class */
.btn-green {
	background: linear-gradient(#99af3c, #a2bb45);
	color: #fff;
	font-size: 1em;
	padding: 1.1em 2em;
	border-radius: 10px;
}
.btn-green i {
	margin-right: 8px;
}

/*  Header Area  */
.header-area {
	background: #fffbf0;
}
.hero h1 {
	font-size: 80px;
}
.hero h1 span {
	display: block;
}
.header-area .navbar-brand img {
	max-height: 50px;
}
.hero img {
	max-width: 550px;
}

/* Jackets */
.jackets .card {
	border-radius: 1em;
	border: 0;
}
.jackets .card-img {
	background: #f1f1f1;
	text-align: center;
	border-radius: 1em;
}
.jackets .card-img img {
	padding: 1em;
}
.jackets .card-footer {
	border: 0;
	background: #fff;
}
.jackets .card-title {
	font-size: 1.8em;
}
.jackets .card-footer .price {
	font-size: 2em;
}

/* features */
.features .feature {
	border-radius: 15px;
}
.features .feature img {
	max-width: 70px;
	margin-right: 30px;
}
